@import 'tailwindcss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

@theme {
  --color-white: #FFFFFF;
  --color-black: #101828;
  --color-body: #4A5565;
  --color-body-subtle: #6A7282;
  --color-fg-brand-subtle: #BEDBFF;
  --color-fg-brand: #1C3A9F;
  --color-fg-brand-strong: #1C398E;
  --color-fg-success: #007A55;
  --color-fg-success-strong: #004F3B;
  --color-fg-danger: #C70036;
  --color-fg-danger-strong: #8B0836;
  --color-fg-warning-subtle: #D03801;
  --color-fg-warning: #771D1D;
  --color-fg-yellow: #FDC700;
  --color-fg-info: #1C398E;
  --color-fg-disabled: #99A1AF;
  --color-fg-purple: #9810FA;
  --color-fg-cyan: #0092B8;
  --color-fg-indigo: #4F39F6;
  --color-fg-pink: #E60076;
  --color-fg-lime: #5EA500;
  --color-bg-white: #FFFFFF;
  --color-bg-secondary: #F9FAFB;
  --color-bg-tertiary: #F3F4F6;
  --color-bg-quaternary: #E5E7EB;
  --color-bg-gray: #D1D5DC;
  --color-bg-brand-softer: #EEF6FF;
  --color-bg-brand-medium: #BEDBFF;
  --color-bg-brand: #1447E6;
  --color-bg-brand-strong: #193CB8;
  --color-bg-success-soft: #ECFDF5;
  --color-bg-success-medium: #D0FAE5;
  --color-bg-success: #007A55;
  --color-bg-success-strong: #006045;
  --color-bg-danger-soft: #FEF0F2;
  --color-bg-danger-medium: #FFE4E6;
  --color-bg-danger: #C70036;
  --color-bg-danger-strong: #A50036;
  --color-bg-warning-soft: #FFF8F1;
  --color-bg-warning-medium: #FEECDC;
  --color-bg-warning: #FF5A1F;
  --color-bg-warning-strong: #B43403;
  --color-bg-dark-strong: #101828;
  --color-bg-dark: #1E2939;
  --color-bg-disabled: #F3F4F6;
  --color-bg-purple: #AD46FF;
  --color-bg-sky: #00A6F4;
  --color-bg-teal: #009689;
  --color-bg-pink: #E60076;
  --color-bg-cyan: #00B8DB;
  --color-bg-fuchsia: #C800DE;
  --color-bg-indigo: #4F39F6;
  --color-bg-orange: #FF8A4C;
  --color-bg-error-row: #FF000033;
  --color-bg-error-cell: #FF0000;

  --font-family-sans: 'Poppins', system-ui, sans-serif;
  --font-family-poppins: 'Poppins', system-ui, sans-serif;

  --font-size-xxs: 8px;
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;
  --font-size-6xl: 60px;

  --radius-0: 0px;
  --radius-xxs: 2px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-DEFAULT: 8px;
  --radius-base: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;
  --radius-full: 9999px;

  --breakpoint-mobile: 640px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
}
